a {
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: underline;
  }
}

.button-wrapper {
  display: flex;
}

.button {
  background-color: var(--primary);
  color: white;
  display: block;
  flex: 1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.5em;
  cursor: pointer;
  transition: opacity 0.2s;
  text-align: center;
  margin: 15px 15px;

  &:hover {
    opacity: 0.8;
  }
}
