input {
  margin: 5px 5px;
}

.form-group {
  margin: 10px auto;
  width: 450px;
}

.button-wrapper {
  display: flex;
}

.button {
  background-color: var(--primary);
  color: white;
  display: block;
  flex: 1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.5em;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &__click {
    text-align: center;
    margin: 15px 15px;
  }
}

#sex {
  margin-left: 1%;
}

#street {
  width: 96%;
}

#number {
  width: 15%;
}

#complement {
  width: 78.5%;
}

#cep {
  width: 20%;
}

#city {
  width: 25%;
}

#state {
  width: 14%;
}

#country {
  width: 25%;
}
